/* FOOTER */

:root {
  --homepage-color: rgb(3, 132, 201);
  --homepage-hover-color: rgb(3, 132, 201);
  --project-color: rgb(218, 131, 31);
  --project-hover-color: rgb(218, 131, 31);
  --personal-portfolios-color: rgb(143, 33, 202);
  --personal-portfolios-hover-color: rgb(143, 33, 202);
}

footer {
  background-color: rgb(242, 242, 242);
  margin-top: 100px;
  padding-top: 50px;
  border-top: 1px solid rgb(208, 208, 208);
}

.footer-title {
  font-size: 2em;
}

/* Foreach row in the footer */
footer > .container > .row > div > .row {
  /* background: red; */
  margin: 6px 0;
}

/* One row in the footer i.e. "<mail icon> A.Vago@student.han.nl" */
.footer-row-container {
  display: flex;
  margin: 1px 0;
}

.footer-icon {
  margin-right: 7px;
}

.footer-text {
  padding-top: 0.5px;
}


.more-links-row {
  color: #6b6b6b;
	text-decoration: underline;
	text-decoration-color: transparent;

  -webkit-transition: color 0.2s,
											text-decoration-color 0.2s;
  -moz-transition: color 0.2s,
									 text-decoration-color 0.2s;
  -o-transition: color 0.2s,
								 text-decoration-color 0.2s;
  transition: color 0.2s,
							text-decoration-color 0.2s;
}

.active-link-page {
  color: #000;
}

.homepage-link:hover {
  text-decoration-color: var(--homepage-hover-color);
  color: var(--homepage-hover-color);
}

.project-link:hover {
  text-decoration-color: var(--project-hover-color);
  color: var(--project-hover-color);
}

.personal-portfolios-link:hover {
  text-decoration-color: var(--personal-portfolios-hover-color);
  color: var(--personal-portfolios-hover-color);
}

.smart-connections-link:hover {
  text-decoration-color: var(--smart-connections-hover-color);
  color: var(--smart-connections-hover-color);
}




.btn-mail {
  color: rgb(246, 120, 23);
}

.btn-phone {
  color: rgb(0, 135, 2);
}

.btn-linkedin {
  color: rgb(0, 132, 255);
}

.btn-github {
  color: rgb(94, 94, 94);
}
