.introduction {
  background-color: rgb(243, 243, 243);
  border-radius: 20px;
  padding: 20px;
}

.opdracht {
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    padding: 20px;
  }
