.introduction_container {
    padding: 0;
    margin: 0;
}

.introduction_section {
    padding: 0;
}
.knowledge_acquisition_container {
    /* background: red; */
    margin-top: 2em;
}

.knowledge_acquisition_subject_list {
    padding: 0;
    margin: 0;
    user-select: none;
    font-size: 1.2em;
}

.my_btn:hover {
    cursor: pointer;
}

.content_container {
    /* background: darkslateblue; */
    padding-left: 2em;
}

/* Set the container for the actual content to the correct sizes: */
.knowledge_acquisition_content {
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    padding: 10px;
}

.table {
    height: 100%;
}

.table-container {
    margin-top: 2em;
    overflow: auto;
    max-height: 900px;
}

.default_text {
    margin-top: .5em;
    font-size: 3em;
    text-align: center;

}

.competentie_link {
    color: #4298f4;
    text-decoration: underline;
}

.competentie_link:hover {
    cursor: pointer;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.notulen_list_container {
    margin-top: 2em;
    /* color: #234bfc; */
}

.pdf_container {
    margin-top: 3px;
    /* color: #234bfc; */
}

.note_link:hover{
    color: #234bfc;
}

