:root {
    --card1-color: rgb(133, 133, 254);
    --card1-color-hover: rgb(85, 85, 253);

    --card2-color: rgb(255, 219, 88);
    --card2-color-hover: rgb(255, 183, 0);
    
    --card3-color: rgb(255, 102, 88);
    --card3-color-hover: rgb(255, 0, 0);
    
    --card4-color: rgb(21, 196, 235);
    --card4-color-hover: rgb(0, 153, 255);

}

.card {
    margin-top: 20px;
    transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

/* general styling for the go-to-portfolio-buttons: */
.card-link {
    margin-top: 10px;
    padding: 1rem 0;
    border-radius: 6px;

    color: white;
    background-color: var(--card1-color);

    transition: background-color 0.2s ease-in-out;
}

.card-link:hover{
    background-color: var(--card1-color-hover);
    color: white;
}

/* individual styling for the go-to-portfolio buttons: */
.card-2 {
    background-color: var(--card2-color);
    color: #000;
}

.card-2:hover {
    background-color: var(--card2-color-hover);
    color: #000;
}

.card-3 {
    background-color: var(--card3-color);
}

.card-3:hover {
    background-color: var(--card3-color-hover);
}

.card-4 {
    background-color: var(--card4-color);
}

.card-4:hover {
    background-color: var(--card4-color-hover);
}
/* END OF individual styling for the go-to-portfolio buttons: */


.card-link-text {
    font-size: 1rem;
    font-weight: 500;
}