.knowledge_acquisition_container {
    background: red;
}

.knowledge_acquisition_subject_list {
    padding: 0;
    margin: 0;
    user-select: none;
}

.knowledge_acquisition_subject_list:hover {
    cursor:pointer;
}


.content_container {
    background: darkslateblue;
    padding: 0;
}

/* Set the container for the actual content to the correct sizes: */
.knowledge_acquisition_content {
    background: lightcyan;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* DEFAULT: To make content disappear when init page: */
#content_business {
    display: none;
}

#content_connection {
    display: none;
}

#content_technology {
    display: none;
}

#content_3d_printing {
    display: none;
}

#content_brains {
    display: none;
}
